/* Login */
.page-login-container {
    background-color: #3C59FD;
    // android-status-bar-background: #3C59FD;
}
.page-login {
    background-color: #3C59FD;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}